<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if current_user %>
   <%= link_to "Logout", destroy_user_session_path, method: :delete %>
 <% else %>
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Registrar", new_user_registration_path %>
  <%= link_to "Iniciar con Twitter", user_omniauth_authorize_path(:twitter) %>
  <%= link_to "Iniciar con Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>

<%= yield %>

  <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('a79eba807d6c1ad89547');
    var channel = pusher.subscribe('app');
    channel.bind('user:gatito', function(data) {
      alert("Se conectó el usuario " + data.email);
    });
  </script>

</body>
</html>
